$green: #5fc18b

body
  font-family: 'Open Sans', sans-serif
  line-height: 1.6
  font-size: 14px

.bold
  font-weight: 700

.clearfix::after
  clear: both
  display: table
  content: ""

.container
  width: 960px
  margin: 0 auto
  padding: 0px 10px

.main-header
  position: relative
  min-height: 800px
  &__zip
    position: absolute
    bottom: -113px
    width: 100%
    font-size: 15px
    form
      width: 334px
      margin: 0 auto
      background: #fff
      padding: 30px 0px 25px
      border-radius: 2px
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.28)
      input
        width: 264px
        height: 36px
        border-radius: 2px
        border: 1px solid #e5e5e5
        padding: 0px 15px
        margin: 0 auto 23px
        display: block
        &::placeholder
          color: #b4adad
      b
        color: #938e8e
        text-align: center
        font-weight: 400
        width: 100%
        display: block
        margin: 28px 0px
        line-height: 20px
      button
        display: block
        margin: 0 auto
        background: #227dd3
        text-transform: uppercase
        color: #FFF
        font-size: 25px
        padding: 12px 45px
        border-radius: 2px
        transition: .5s
        &:hover, &:active
          background: #1d64a7

.slider
  width: 100%
  display: inline
  &__item--one
    background: url(../img/header-bg-1.jpg) center center no-repeat
    background-size: cover
    height: 800px
    width: 100%
    h1
      color: #fff
      text-transform: uppercase
      text-align: center
      font-size: 49.35px
      line-height: 1.28
      font-weight: 400
  &__item--two
    background: url(../img/header-bg-2.jpg) center center no-repeat
    background-size: cover
    height: 100vh
    width: 100%

.logo
  width: 273px
  height: 273px
  margin: 68px auto 78px

.files
  width: 870px
  margin: 168px auto 50px
  &__item
    display: -webkit-flex
    display: -ms-flex
    display: flex
    img
      display: block
      width: 95px
      height: 121px
      float: left
      margin-right: 30px
  &__description
    float: left
    width: 275px
    b
      font-size: 27px
    p
      color: #4f4e4e
  .slick-dots
    position: static
    margin-top: 50px
    margin-bottom: 40px
